name: Install package and run pytests

on: [push, pull_request]

# cancel running jobs if theres a newer push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmsgridtools_ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout 
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Step Python
        uses: actions/setup-python@v4.6.0
        with:
          python-version: '3.11.7'
      - name: Install libraries
        run: |
          sudo apt-get install libopenmpi-dev netcdf-bin libnetcdf-dev libnetcdff-dev libyaml-dev cmake
      - name: Install FMSgridtools package
        run: pip install .[test]
      - name: Run pytest (just link test for now)
        run: |
          pytest tests/shared/test_libs.py
          pytest tests/mosaic/test_mosaic.py
          pytest tests/shared/test_gridobj.py
          pytest tests/test_xgridobj.py
        
